/*Fonts*/

@font-face {
  font-family: 'eina-bold';
  src: url('https://global-app.s3.amazonaws.com/omnia-assets/fonts/Eina01_Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'eina-reg';
  src: url('https://global-app.s3.amazonaws.com/omnia-assets/fonts/Eina01_Regular.woff2') format('woff2')
}

@font-face {
  font-family: 'eina-semibold';
  src: url('https://global-app.s3.amazonaws.com/omnia-assets/fonts/Eina01_SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'poppins-reg';
  src: url('https://global-app.s3.amazonaws.com/omnia-assets/fonts/Poppins-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'poppins-light';
  src: url('https://global-app.s3.amazonaws.com/omnia-assets/fonts/Poppins-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'poppins-semibold';
  src: url('https://global-app.s3.amazonaws.com/omnia-assets/fonts/Poppins-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'poppins-bold';
  src: url('https://global-app.s3.amazonaws.com/omnia-assets/fonts/Poppins-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'poppins-extrabold';
  src: url('https://global-app.s3.amazonaws.com/omnia-assets/fonts/Poppins-ExtraBold.woff2') format('woff2');
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  @apply font-poppins text-voxo-gray text-base leading-tight;
}

h1{
  @apply font-einabold;
}

h2{
  @apply font-einasemibold;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-teal-600 text-white cursor-pointer
    hover:bg-teal-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-teal-600;
  font-size: 0.9em;
}

/*This is for the CMS THING*/
#nc-root{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

/*Blog Posts*/

#blog-post h1{
  @apply font-einabold;
}

#blog-post h2{
  @apply font-einabold font-bold mb-2 voxo-text-red text-2xl;
}

#blog-post h3{
  @apply font-einabold;
}

#blog-post h4{
  @apply font-einabold;
}

#blog-post h5{
  @apply font-einabold;
}

#blog-post h6{
  @apply font-einabold;
}

#blog-post p{
  @apply mb-3;
}
